{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
   
    <link rel="stylesheet" href="{%static 'chessboard.css'%}">
    <script src="{%static 'chessboard.js'%}"></script>
</head>
<body>
    
    {% include "navigation.html" %}
    <h2>History of Chess</h2>
    <p>
        Chess is thought to have originated in India during the Gupta Empire around the 6th century AD, where it was called "Chaturanga," symbolizing the "four divisions of the military": infantry, cavalry, elephants, and chariots. This strategic game, played on an 8x8 board, laid the foundation for modern chess.
        From India, the game made its way to Persia, where it evolved into "Shatranj." The Persians modified the rules, and after the Islamic Empire conquered Persia in the 7th century, Shatranj spread throughout the Islamic world. Through trade and conquest, it eventually reached Spain and Europe, where it continued to evolve.
    <p>        As chess spread into Europe during the Middle Ages, it evolved significantly. By the 15th century, the queen and bishop had acquired their modern movements, enhancing the game’s pace and aggressiveness, in what was known as "Queen's Chess" or "Mad Queen Chess." These adaptations marked a pivotal shift toward modern chess, boosting its popularity across the continent.
    </p>
    <p>        In the 19th century, the rules of chess were standardized, culminating in the first modern tournament in London in 1851, won by Adolf Anderssen. This era also saw the rise of chess literature and the establishment of clubs like the London Chess Club. In 1924, the Fédération Internationale des Échecs (FIDE) was formed in Paris to globally standardize chess rules, introduce formal titles like Grandmaster, and organize the World Chess Championship.
    </p>        
    <p>        Throughout the 20th and 21st centuries, chess has remained popular, adapting to the digital era with online platforms and software that allow global play and learning. Notable moments include IBM's Deep Blue defeating World Champion Garry Kasparov in 1997, showcasing the challenges and opportunities presented by AI and computer chess.
    </p>        
<p>        Chess's role extends beyond just a game; it's a cultural and intellectual emblem used in literature and art and recognized for enhancing mental functions and strategic thinking. Today, chess continues to be a global passion, played by millions around the world, drawing players of all ages to its intricate and strategic gameplay.
</p>    </p>
    
    
    
</body>
</html>